/* 
-------------------
	General
-------------------
*/

:root {
	--main-fg: #fff;
	--high-fg: #f33;
	--sec-high-fg: #ff0;
	--main-bg: #202020;
	--seco-bg: #303030;
	--tern-bg: #404040;
	--quar-bg: #505050;
	--main-ft: "Segoe UI"
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

html,
body {
	color: var(--main-fg);
	background-color: var(--main-bg);
	font-family: var(--main-ft);
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: inherit;
}

code,
pre,
.mono {
	font-family: "Consolas", monospace
}

/* 
-------------------
	Classes
-------------------
*/

nav {
	background-color: var(--seco-bg);
	position: sticky;
	top: 0;
	max-width: 800px;
	padding: 0.5em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	display: flex;
	justify-content: left;
	gap: 0.5em;
	margin-bottom: 3em;
}

nav .location {
	color: var(--sec-high-fg);
}

header {
	display: flex;
	gap: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #fff;
	margin-top: 1.5em;
}

.heading__img {
	border-radius: 1em;
	margin: 1em;
	border: 3px solid var(--high-fg);
	width: 200px;
	height: 156px;
}

.heading__content {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.heading__text {
	display: block;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

.home__footer {
	border-top: 1px solid #fff;
	padding-top: 0.5em
}

.light-border {
	border-bottom: 1px solid #fff;
}

.highlight {
	font-weight: bold;
	color: var(--high-fg) !important;
}

.highlight-alt {
	font-weight: bold;
	color: var(--sec-high-fg) !important;
}

.highlight-bigger {
	font-weight: bold;
	font-size: 1.125em;
	color: var(--high-fg);
}

.content-section {
	margin-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em
}

.content-section img {
	max-width: 80%;
	display: block;
	margin: 1em auto;
	border-radius: 1em;
}

.circ-boxed {
	border-radius: 0.6em;
	background-color: var(--seco-bg);
	padding: 0.25em;
}

.spaced-lis>li {
	margin-top: .5em;
}

.quote {
	display: block;
	margin-left: auto;
	width: 80%;
	min-width: 100px;
	font-style: italic;
}


.code-block-wrapper {
	border-radius: .75em;
	cursor: pointer;
	background-color: var(--seco-bg);
}

.code-block-wrapper>pre {
	padding: .5em;
	tab-size: 4;
}

.code-block-wrapper__label-upper {
	padding-left: 1em;
	border-top-right-radius: .75em;
	border-top-left-radius: .75em;
	border-bottom: 1px solid #fff;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	right: 0;
}

.code-block-wrapper__label-lower {
	padding-left: 1em;
	border-bottom-right-radius: .75em;
	border-bottom-left-radius: .75em;
	background-color: var(--tern-bg);
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	right: 0;
}

.cute-border {
	padding: 1em 2em 1em 2em;
	margin: 1em 0;
	border-radius: 1em;
	border: 1px solid #fff;
	display: inline-block;
}

.green-tinted {
	background-color: #00ff0033 !important;
}

.blue-tint {
	background-color: #258dd333 !important;
}

.red-tint {
	background-color: #d3252533 !important;
}

.no-user-select {
	user-select: none;
}

.article-heading {
	display: inline;
	height: 1em;
}

.article-schmol-img {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 0;
	margin: 0;
}

.centered-warning {
	text-align: center;
	padding: 3em;
	font-weight: bolder;
	text-transform: uppercase;
}

.dummy-spacer {
	height: 10em;
}

/* 
-------------------
	code blocks gruvbox theme
-------------------
*/
pre {
	transition: background-color 0.3s ease;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: rgb(40, 40, 40);
	color: rgb(235, 219, 178);
}

.hljs-keyword {
	color: rgb(251, 73, 52);
}

.hljs-title {
	color: rgb(131, 165, 152);
}

.hljs-number {
	color: rgb(211, 134, 155);
}

.hljs-function {
	color: rgb(142, 192, 124);
}

.hljs-params {
	color: rgb(250, 189, 47);
}

.hljs-comment {
	color: rgb(146, 131, 116);
	font-style: italic;
}

.hljs-string {
	color: rgb(184, 187, 38);
}